<% if Docuseal.demo? %><%= render 'shared/demo_alert' %><% end %>
<% if @pagy.count > 0 || params[:q].present? %>
  <div class="flex justify-between mb-4 items-center">
    <h1 class="text-4xl font-bold"><span class="hidden md:inline">Document</span> Templates</h1>
    <div class="flex space-x-2">
      <% if params[:q].present? || @pagy.pages > 1 || @template_folders.present? %>
        <%= render 'shared/search_input' %>
      <% end %>
      <% if can?(:create, ::Template) %>
        <%= render 'templates/upload_button' %>
        <%= link_to new_template_path, class: 'btn btn-primary text-base btn-md gap-2', data: { turbo_frame: :modal } do %>
          <%= svg_icon('plus', class: 'w-6 h-6 stroke-2') %>
          <span class="hidden md:block">Create</span>
        <% end %>
      <% end %>
    </div>
  </div>
  <% view_archived_html = capture do %>
    <% if current_account.templates.where.not(deleted_at: nil).exists? %>
      <div>
        <a href="<%= templates_archived_index_path %>" class="link text-sm">View Archived</a>
      </div>
    <% end %>
  <% end %>
  <% if @template_folders.present? %>
    <div class="grid gap-4 md:grid-cols-3 <%= 'mb-6' if @templates.present? %>">
      <%= render partial: 'template_folders/folder', collection: @template_folders, as: :folder %>
    </div>
    <% if @templates.blank? %>
      <% if @pagy.pages > 1 %>
        <%= render 'shared/pagination', pagy: @pagy, left_additional_html: view_archived_html %>
      <% elsif params[:q].blank? %>
        <div class="mt-2">
          <%= view_archived_html %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% if @templates.present? %>
    <div class="grid gap-4 md:grid-cols-3">
      <%= render partial: 'templates/template', collection: @templates %>
    </div>
    <% if @pagy.pages > 1 %>
      <%= render 'shared/pagination', pagy: @pagy, items_name: 'templates', left_additional_html: view_archived_html %>
    <% else %>
      <div class="mt-2">
        <%= view_archived_html %>
      </div>
    <% end %>
  <% elsif params[:q].present? %>
    <div class="text-center">
      <div class="mt-16 text-3xl font-semibold">
        Templates not Found
      </div>
    </div>
  <% end %>
<% else %>
  <div class="card bg-base-200 h-96 mb-2">
    <div class="card-body text-center">
      <div class="flex items-center h-full">
        <div class="mx-auto">
          <div class="max-w-xl mx-auto">
            <h1 class="text-5xl font-bold text-base-content">👋 Welcome to DocuSeal</h1>
          </div>
          <div class="max-w-lg mx-auto">
            <p class="py-6 text-gray-600">Streamline document workflows, from creating customizable templates to filling and signing document forms</p>
            <%= link_to new_template_path, class: 'base-button', data: { turbo_frame: :modal } do %>
              <%= svg_icon('plus', class: 'w-6 h-6 stroke-2') %>
              <span class="mr-1">Create Template</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
