<% if @templates.any? %>
  <div class="flex justify-between mb-4">
    <h1 class="text-4xl font-bold">Templates</h1>
    <%= link_to new_template_path, class: 'btn btn-primary btn-md gap-2', data: { turbo_frame: :modal } do %>
      <%= svg_icon('plus', class: 'w-6 h-6') %>
      <span class="hidden md:block">Create</span>
    <% end %>
  </div>
  <div class="grid gap-4 md:grid-cols-3">
    <% @templates.each do |template| %>
      <div class="h-36 relative group">
        <a href="<%= template_path(template) %>" class="flex h-full flex-col justify-between rounded-2xl pt-6 px-7 w-full bg-base-200 peer">
          <div class="pb-4 text-xl font-semibold" style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;">
            <%= template.name %>
          </div>
          <div class="pb-6 pt-1">
            <p class="flex items-center space-x-1 text-xs text-base-content/60">
              <%= svg_icon('user', class: 'w-4 h-4') %>
              <span><%= template.author.full_name %></span>
            </p>
            <p class="flex items-center space-x-1 text-xs text-base-content/60">
              <%= svg_icon('calendar', class: 'w-4 h-4') %>
              <span><%= l(template.created_at, format: :long) %></span>
            </p>
          </div>
        </a>
        <div class="absolute top-0 bottom-0 w-0 pt-7 space-y-1.5 hidden group-hover:block" style="right: 40px">
          <a href="<%= edit_template_path(template) %>" class="btn btn-xs btn-outline bg-base-200 btn-circle">
            <%= svg_icon('pencil', class: 'w-4 h-4') %>
          </a>
          <a href="<%= new_template_path(base_template_id: template.id) %>" data-turbo-frame="modal" class="btn btn-xs btn-outline bg-base-200 btn-circle">
            <%= svg_icon('copy', class: 'w-4 h-4') %>
          </a>
          <%= button_to template_path(template), data: { turbo_confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-xs btn-outline bg-base-200 btn-circle' do %>
            <%= svg_icon('trash', class: 'w-4 h-4 enabled') %>
            <%= svg_icon('loader', class: 'w-4 h-4 animate-spin disabled') %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'shared/pagination', pagy: @pagy, items_name: 'Templates' %>
<% else %>
  <div class="card bg-base-200 h-96 mb-2">
    <div class="card-body text-center">
      <div class="flex items-center h-full">
        <div class="max-w-lg mx-auto">
          <h1 class="text-5xl font-bold">Welcome to DocuSeal</h1>
          <p class="py-6">Streamline document workflows, from creating customizable templates to filling and signing document forms, with DocuSeal</p>
          <%= link_to new_template_path, class: 'btn btn-neutral', data: { turbo_frame: :modal } do %>
            <%= svg_icon('plus', class: 'w-6 h-6') %>
            <span>Create Template</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
