<% if Docuseal.demo? %><%= render 'shared/demo_alert' %><% end %>
<% if @templates.any? %>
  <div class="flex justify-between mb-4 items-center">
    <h1 class="text-4xl font-bold"><span class="hidden md:inline">Document</span> Templates</h1>
    <div class="flex space-x-2">
      <%= render 'templates/upload_button' %>
      <%= link_to new_template_path, class: 'btn btn-primary text-base btn-md gap-2', data: { turbo_frame: :modal } do %>
        <%= svg_icon('plus', class: 'w-6 h-6 stroke-2') %>
        <span class="hidden md:block">Create</span>
      <% end %>
    </div>
  </div>
  <div class="grid gap-4 md:grid-cols-3">
    <% @templates.each do |template| %>
      <div class="h-36 relative group">
        <a href="<%= template_path(template) %>" class="flex h-full flex-col justify-between rounded-2xl pt-6 px-7 w-full bg-base-200 peer">
          <div class="pb-4 text-xl font-semibold" style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;">
            <%= template.name %>
          </div>
          <div class="pb-6 pt-1 space-y-1">
            <p class="flex items-center space-x-1 text-xs text-base-content/60">
              <%= svg_icon('user', class: 'w-4 h-4') %>
              <span><%= template.author.full_name.presence || template.author.email %></span>
            </p>
            <p class="flex items-center space-x-1 text-xs text-base-content/60">
              <%= svg_icon('calendar', class: 'w-4 h-4') %>
              <span><%= l(template.created_at.in_time_zone(current_account.timezone), format: :short, locale: current_account.locale) %></span>
            </p>
          </div>
        </a>
        <div class="absolute top-0 bottom-0 w-0 pt-7 space-y-1.5 hidden md:group-hover:block" style="right: 40px">
          <a href="<%= edit_template_path(template) %>" class="btn btn-xs hover:btn-outline bg-base-200 btn-circle">
            <%= svg_icon('pencil', class: 'w-4 h-4') %>
          </a>
          <a href="<%= new_template_path(base_template_id: template.id) %>" data-turbo-frame="modal" class="btn btn-xs hover:btn-outline bg-base-200 btn-circle">
            <%= svg_icon('copy', class: 'w-4 h-4') %>
          </a>
          <%= button_to template_path(template), data: { turbo_confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-xs hover:btn-outline bg-base-200 btn-circle' do %>
            <%= svg_icon('trash', class: 'w-4 h-4 enabled') %>
            <%= svg_icon('loader', class: 'w-4 h-4 animate-spin disabled') %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'shared/pagination', pagy: @pagy, items_name: 'templates' %>
<% else %>
  <div class="card bg-base-200 h-96 mb-2">
    <div class="card-body text-center">
      <div class="flex items-center h-full">
        <div class="mx-auto">
          <div class="max-w-xl mx-auto">
            <h1 class="text-5xl font-bold text-base-content">👋 Welcome to DocuSeal</h1>
          </div>
          <div class="max-w-lg mx-auto">
            <p class="py-6 text-gray-600">Streamline document workflows, from creating customizable templates to filling and signing document forms</p>
            <%= link_to new_template_path, class: 'base-button', data: { turbo_frame: :modal } do %>
              <%= svg_icon('plus', class: 'w-6 h-6 stroke-2') %>
              <span class="mr-1">Create Template</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
