<h2>Sign up</h2>
<%= form_for('', as: resource_name, url: registration_path) do |f| %>
  <%= render 'devise/shared/error_messages', resource: %>
  <%= f.fields_for resource do |ff| %>
    <div>
      <%= ff.label :first_name %>
      <%= ff.text_field :first_name, required: true %>
    </div>
    <div>
      <%= ff.label :last_name %>
      <%= ff.text_field :last_name, required: true %>
    </div>
  <% end %>
  <%= f.fields_for resource.account do |ff| %>
    <div>
      <%= ff.label :name, 'Company name' %>
      <%= ff.text_field :name, required: true %>
    </div>
  <% end %>
  <%= f.fields_for resource do |ff| %>
    <div>
      <%= ff.label :email %>
      <%= ff.email_field :email, required: true %>
    </div>
    <div>
      <%= ff.label :password %>
      <%= ff.password_field :password, required: true %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'Sign up' %>
  </div>
<% end %>
<%= render 'devise/shared/links' %>
