<div class="text-center">
  <div class="join">
    <a href="https://docuseal.com<%= request.fullpath.gsub('docuseal.eu', 'docuseal.com') %>" class="btn bg-base-200 join-item w-32  <%= 'bg-base-300' if request.host == 'docuseal.com' %>">
      <%= svg_icon 'world', class: 'w-5 h-5' %>
      Global
    </a>
    <a href="https://docuseal.eu<%= request.fullpath.gsub('docuseal.com', 'docuseal.eu') %>" class="btn bg-base-200 join-item w-32 <%= 'bg-base-300' if request.host == 'docuseal.eu' %>">
      <%= svg_icon 'eu_flag', class: 'w-5 h-5' %>
      Europe
    </a>
  </div>
</div>
