<div class="absolute bottom-0 w-full cursor-pointer rounded-xl bg-base-100 border-2 border-base-300 border-dashed hidden z-50" data-target="dashboard-dropzone.fileDropzone" style="<%= local_assigns[:style] %>">
  <div class="absolute top-0 right-0 left-0 bottom-0 flex justify-center p-2 items-center pointer-events-none">
    <div class="flex flex-col items-center text-center" data-target="dashboard-dropzone.toggleLoading">
      <span class="flex flex-col items-center">
        <span>
          <%= svg_icon('cloud_upload', class: 'w-9 h-9') %>
        </span>
        <div class="font-medium mb-1">
          <%= t('upload_new_document') %>
        </div>
      </span>
      <span class="flex flex-col items-center hidden" data-target="dashboard-dropzone.fileDropzoneLoading">
        <%= svg_icon('loader', class: 'w-9 h-9 animate-spin') %>
        <div class="font-medium mb-1">
          <%= t('uploading') %>...
        </div>
      </span>
    </div>
  </div>
</div>
