<%= form_for '', url: local_assigns.fetch(:url, templates_upload_path), id: form_id = SecureRandom.uuid, method: :post, class: 'block hidden', html: { enctype: 'multipart/form-data' }, data: { target: 'dashboard-dropzone.fileDropzone' } do %>
  <input type="hidden" name="form_id" value="<%= form_id %>">
  <button type="submit" class="hidden"></button>
  <label for="dashboard_dropzone_input_<%= form_id %>">
    <div class="absolute top-0 right-0 left-0 bottom-0 flex justify-center p-2 items-<%= local_assigns.fetch(:position, 'center') %>">
      <div class="flex flex-col items-center text-center">
        <% if local_assigns[:icon] %>
          <span data-target="dashboard-dropzone.icon" class="flex flex-col items-center">
            <span>
              <%= svg_icon(local_assigns[:icon], class: 'w-10 h-10') %>
            </span>
            <% if local_assigns[:title] %>
              <div class="font-medium mb-1">
                <%= local_assigns[:title] %>
              </div>
            <% end %>
          </span>
        <% end %>
        <span data-target="dashboard-dropzone.loading" class="flex flex-col items-center hidden">
          <%= svg_icon('loader', class: 'w-10 h-10 animate-spin') %>
          <div class="font-medium mb-1">
            <%= t('uploading') %>...
          </div>
        </span>
      </div>
      <input id="dashboard_dropzone_input_<%= form_id %>" name="files[]" class="hidden" data-action="change:dashboard-dropzone#onSelectFiles" data-target="dashboard-dropzone.input" type="file" accept="image/*, application/pdf<%= ', .docx, .doc, .xlsx, .xls, .odt, .rtf' if Docuseal.multitenant? %>" multiple>
    </div>
  </label>
<% end %>
