<div class="flex flex-col items-start md:flex-row space-y-2 md:space-y-0 md:justify-between md:items-center mb-8">
  <h1 class="text-4xl font-semibold mr-4" style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;">
    <%= template.name %>
    <% if template.deleted_at? %>
      <span class="badge badge-outline badge-lg align-middle">Archived</span>
    <% end %>
  </h1>
  <div class="flex md:justify-between space-x-2 flex-none">
    <% unless template.deleted_at? %>
      <%= button_to button_title(title: 'Remove', disabled_with: 'Removing', icon: svg_icon('trash', class: 'w-6 h-6')), template_path(template), class: 'btn btn-outline btn-sm', method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
    <% end %>
    <%= link_to new_template_path(base_template_id: template.id), class: 'btn btn-outline btn-sm', data: { turbo_frame: :modal } do %>
      <%= svg_icon('copy', class: 'w-6 h-6') %>
      <span>Clone</span>
    <% end %>
    <% unless template.deleted_at? %>
      <%= link_to edit_template_path(template), class: 'btn btn-outline btn-sm' do %>
        <span class="flex items-center justify-center space-x-2">
          <%= svg_icon('pencil', class: 'w-6 h-6') %>
          <span>Edit</span>
        </span>
      <% end %>
    <% end %>
    <% if template.deleted_at? %>
      <%= button_to button_title(title: 'Restore', disabled_with: 'Restoring', icon: svg_icon('rotate', class: 'w-6 h-6')), template_restore_index_path(template), class: 'btn btn-outline btn-sm' %>
    <% end %>
  </div>
</div>
