<template-builder data-template="<%= @template.to_json(include: { documents: { include: { preview_images: { methods: %i[url metadata filename] } } } }) %>">
  <div>
    <div style="max-width: 1600px" class="mx-auto pl-4">
      <div class="flex justify-between py-1.5 items-center pr-4">
        <div class="flex space-x-3">
          <a href="/">
            <%= render 'shared/logo', width: 40, height: 40 %>
          </a>
          <span class="text-3xl font-semibold focus:text-clip flex items-center">
            <span>
              <%= @template.name %>
            </span>
          </span>
        </div>
        <div class="space-x-3 flex items-center">
          <button class="btn btn-primary disabled" disabled>
            <%= svg_icon('users_plus', class: 'w-5') %>
            Recipients
          </button>
          <button class="base-button disabled" disabled>
            <%= svg_icon('device_floppy', class: 'w-5') %>
            Save
          </button>
        </div>
      </div>
      <div class="flex items-center justify-center h-96">
        <%= svg_icon('loader', class: 'animate-spin') %>
      </div>
    </div>
  </div>
</template-builder>
