<%= render 'title', template: @template %>
<% if !@pagy.count.zero? || @template.submitters.to_a.size == 1 %>
  <div class="flex justify-between mb-6 md:items-end flex-col md:flex-row">
    <p class="text-3xl font-bold">Submissions</p>
    <div class="flex space-x-2 mt-3 md:mt-0">
      <% if params[:q].present? || @pagy.pages > 1 %>
        <%= render 'shared/search_input' %>
      <% end %>
      <%= link_to new_template_submissions_export_path(@template), class: 'order-3 md:order-1 btn btn-ghost text-base', data: { turbo_frame: 'modal' } do %>
        <%= svg_icon('download', class: 'w-6 h-6 stroke-2') %>
        <span>Export</span>
      <% end %>
      <% if @template.submitters.to_a.size == 1 && !@template.deleted_at? %>
        <span class="order-1">
          <%= render 'shared/clipboard_copy', text: start_form_url(slug: @template.slug), class: 'base-button', icon_class: 'w-6 h-6 text-white', copy_title: 'Copy Share Link', copied_title: 'Copied to Clipboard', copy_title_md: 'Copy', copied_title_md: 'Copied' %>
        </span>
      <% end %>
      <% if (!@pagy.count.zero? || params[:q].present?) && !@template.deleted_at? %>
        <%= link_to new_template_submission_path(@template), class: 'order-1 btn btn-primary text-base', data: { turbo_frame: 'modal' } do %>
          <%= svg_icon('plus', class: 'w-6 h-6 stroke-2') %>
          <span>Add <span class="hidden md:inline">Recipients</span></span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<% if @submissions.present? %>
  <div class="space-y-4">
    <%= render partial: 'submission', collection: @submissions %>
  </div>
  <% view_archived_html = capture do %>
    <% if @template.submissions.where.not(deleted_at: nil).exists? && !@template.deleted_at? %>
      <div>
        <a href="<%= template_archived_path(@template) %>" class="link text-sm">View Archived</a>
      </div>
    <% end %>
  <% end %>
  <% if @pagy.pages > 1 %>
    <%= render 'shared/pagination', pagy: @pagy, items_name: 'submissions', left_additional_html: view_archived_html %>
  <% else %>
    <div class="mt-2">
      <%= view_archived_html %>
    </div>
  <% end %>
<% else %>
  <div class="card bg-base-200">
    <div class="card-body text-center py-16">
      <div class="max-w-lg mx-auto">
        <p class="text-3xl font-bold text-base-content mb-4">There are no Submissions</p>
        <% if @template.deleted_at.blank? && params[:q].blank? %>
          <p class="text-gray-600">Send an invitation to fill and complete the form</p>
          <div class="space-x-2">
            <%= link_to new_template_submission_path(@template), class: 'base-button mt-6', data: { turbo_frame: 'modal' } do %>
              <%= svg_icon('plus', class: 'w-6 h-6 stroke-2') %>
              <span class="mr-1">Add Recipients</span>
            <% end %>
            <%= link_to start_form_url(slug: @template.slug), class: 'white-button mt-6', target: '_blank', rel: 'noopener' do %>
              <%= svg_icon('writing', class: 'w-6 h-6') %>
              <span class="mr-1">Submit it Yourself</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
