<%= form_for user, html: { class: 'space-y-4' }, data: { turbo_frame: :_top } do |f| %>
  <div class="space-y-2">
    <div class="flex space-x-4">
      <div class="w-full">
        <%= f.label :first_name, t('first_name'), class: 'label' %>
        <%= f.text_field :first_name, required: true, class: 'base-input w-full', dir: 'auto' %>
      </div>
      <div class="w-full">
        <%= f.label :last_name, t('last_name'), class: 'label' %>
        <%= f.text_field :last_name, required: true, class: 'base-input w-full', dir: 'auto' %>
      </div>
    </div>
    <div class="form-control">
      <%= f.label :email, t('email'), class: 'label' %>
      <%= f.email_field :email, required: true, class: 'base-input' %>
    </div>
    <% if user.new_record? && !Docuseal.multitenant? %>
      <div class="form-control">
        <%= f.label :password, t('password'), class: 'label' %>
        <%= f.password_field :password, required: true, class: 'base-input' %>
      </div>
    <% end %>
    <% if f.object != current_user %>
      <% if user.otp_required_for_login %>
        <div class="form-control">
          <%= f.label :otp_required_for_login, t('two_factor_authentication'), class: 'label' %>
          <%= f.select :otp_required_for_login, [[t('enabled'), true], [t('disabled'), false]], { include_blank: false }, class: 'base-select' %>
        </div>
      <% end %>
      <%= render 'role_select', f: %>
    <% end %>
    <% if local_assigns[:extra_fields_html].present? %>
      <%= local_assigns[:extra_fields_html] %>
    <% end %>
  </div>
  <div class="form-control pt-2">
    <%= f.button button_title, class: 'base-button' %>
  </div>
<% end %>
