<div class="form-control">
  <%= f.label :role, class: 'label' %>
  <%= f.select :role, nil, {}, class: 'base-select' do %>
    <option value="admin"><%= t('admin') %></option>
    <option value="editor"><%= t('editor') %></option>
    <option value="viewer"><%= t('viewer') %></option>
  <% end %>
  <label class="label">
    <span class="label-text-alt">
      Admins manage everything. Editors create and send templates and submissions. Viewers have read-only access.
    </span>
  </label>
</div>
