<div class="flex flex-wrap space-y-4 md:flex-nowrap md:space-y-0 md:space-x-2">
  <%= render 'shared/settings_nav' %>
  <div class="flex-grow">
    <div class="flex justify-between mb-4">
      <h1 class="text-4xl font-bold">Team</h1>
      <%= link_to new_user_path, class: 'btn btn-primary btn-md gap-2', data: { turbo_frame: 'modal' } do %>
        <%= svg_icon('plus', class: 'w-6 h-6') %>
        <span>New User</span>
      <% end %>
    </div>
    <div class="overflow-x-auto">
      <table class="table w-full table-lg rounded-b-none overflow-hidden">
        <thead class="bg-base-200">
          <tr class="text-neutral uppercase">
            <th>
              Name
            </th>
            <th>
              Email
            </th>
            <th>
              Role
            </th>
            <th>
              Last session
            </th>
            <th class="text-right" width="1px">
            </th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr scope="row">
              <td>
                <%= user.full_name %>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td>
                <span class="badge badge-success badge-outline">
                  <%= user.role %>
                </span>
              </td>
              <td>
                <%= user.last_sign_in_at ? l(user.last_sign_in_at, format: :short) : '-' %>
              </td>
              <td class="flex items-center space-x-2 justify-end">
                <%= link_to edit_user_path(user), class: 'btn btn-outline btn-xs', title: 'Edit', data: { turbo_frame: 'modal' } do %>
                  Edit
                <% end %>
                <%= link_to user_path(user), class: 'btn btn-outline btn-error btn-xs', title: 'Delete', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                  Remove
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
