<% uuid = local_assigns[:uuid] || SecureRandom.uuid %>
<% title_id = "#{uuid}-title" %>
<%= tag.dialog id: uuid, class: 'modal items-start overflow-y-auto', inert: true, 'aria-labelledby': (title_id if local_assigns[:title]) do %>
  <div class="modal-box pt-4 pb-6 px-6 mt-20 max-h-none">
    <% if local_assigns[:title] %>
      <div class="flex justify-between items-center border-b pb-2 mb-2 font-medium">
        <span id="<%= title_id %>">
          <%= local_assigns[:title] %>
        </span>
        <form method="dialog">
          <button class="text-xl cursor-pointer w-6 h-6" aria-label="<%= t('close') %>">&times;</button>
        </form>
      </div>
    <% end %>
    <div>
      <%= yield %>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button aria-label="<%= t('close') %>"></button>
  </form>
<% end %>
