<div class="max-w-6xl mb-4 mx-auto px-4 md:px-2 py-3 flex items-center justify-between">
  <a href="<%= root_path %>" class="text-2xl font-bold items-center flex space-x-2">
    <%= render 'shared/logo' %>
    <span>DocuSeal</span>
  </a>
  <% if signed_in? %>
    <div class="space-x-6">
      <%= link_to 'Settings', settings_profile_index_path, class: 'font-medium text-lg' %>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="cursor-pointer bg-base-content text-purple-300 rounded-full p-2 w-9 justify-center flex">
          <span class="text-sm align-text-top"><%= current_user.initials %></span>
        </label>
        <ul tabindex="0" class="z-10 dropdown-content p-2 mt-2 shadow menu text-base bg-base-100 rounded-box whitespace-nowrap text-right">
          <li>
            <%= link_to settings_profile_index_path do %>
              <%= svg_icon('adjustments', class: 'w-5 h-5 stroke-2') %>
              <span class="mr-1">Profile</span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
              <%= svg_icon('logout', class: 'w-5 h-5 stroke-2') %>
              <span class="mr-1">Sign out</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% else %>
    <%= link_to new_user_session_path, class: 'font-medium text-lg' do %>
      <span class="flex items-center justify-center space-x-1">
        <%= svg_icon('login', class: 'w-6 h-6') %>
        <span>Sign in</span>
      </span>
    <% end %>
  <% end %>
</div>
