<div class="max-w-6xl mb-4 mx-auto px-4 md:px-2 py-3 flex items-center justify-between">
  <div class="flex items-center space-x-4">
    <a href="<%= root_path %>" class="text-2xl font-bold items-center flex space-x-2">
      <%= render 'shared/title' %>
    </a>
    <span class="hidden sm:inline">
      <%= render 'shared/github' %>
    </span>
  </div>
  <% if signed_in? %>
    <div class="space-x-4 flex items-center">
      <% if Docuseal.demo? %>
        <a href="https://docuseal.co/sign_up" class="btn btn-neutral btn-sm btn-outline inline-flex items-center justify-center" style="height: 37px">
          <%= t('sign_up') %>
        </a>
        <span class="hidden sm:inline">
          <%= render 'shared/github_button' %>
        </span>
      <% else %>
        <div class="flex items-center justify-center space-x-4 mr-1">
          <%= render 'shared/navbar_buttons' %>
          <%= link_to 'Settings', settings_profile_index_path, class: 'hidden md:inline-flex font-medium text-lg' %>
        </div>
      <% end %>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="cursor-pointer bg-base-content text-purple-300 rounded-full p-2 w-9 justify-center flex">
          <span class="text-sm align-text-top"><%= current_user.initials %></span>
        </label>
        <ul tabindex="0" class="z-10 dropdown-content p-2 mt-2 shadow menu text-base bg-base-100 rounded-box w-40 text-right">
          <li>
            <%= link_to settings_profile_index_path, class: 'flex items-center' do %>
              <%= svg_icon('adjustments', class: 'w-5 h-5 flex-shrink-0 stroke-2') %>
              <span class="mr-1">Profile</span>
            <% end %>
          </li>
          <% if !Docuseal.demo? && can?(:manage, EncryptedConfig) %>
            <li>
              <%= link_to Docuseal.multitenant? ? console_redirect_index_path : Docuseal::CONSOLE_URL, data: { prefetch: false }, class: 'flex items-center' do %>
                <%= svg_icon('terminal', class: 'w-5 h-5 stroke-2') %>
                Console
              <% end %>
            </li>
          <% end %>
          <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::ESIGN_CERTS_KEY, account: current_account)) %>
            <li>
              <%= link_to settings_esign_path, class: 'flex items-center' do %>
                <%= svg_icon('zoom_check', class: 'w-5 h-5 stroke-2') %>
                <span class="mr-1">Verify PDF</span>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= button_to destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'flex items-center' do %>
              <%= svg_icon('logout', class: 'w-5 h-5 stroke-2 mr-2 inline') %>
              <span class="mr-1">Sign out</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="flex space-x-2">
      <% if request.path != new_user_session_path %>
        <%= link_to new_user_session_path({ lang: params[:lang] }.compact_blank), class: 'font-medium text-lg' do %>
          <span class="flex items-center justify-center space-x-1">
            <%= svg_icon('login', class: 'w-6 h-6') %>
            <span><%= t('sign_in') %></span>
          </span>
        <% end %>
      <% end %>
      <% if Docuseal.multitenant? && !request.path.in?([registration_path, new_registration_path]) %>
        <%= link_to registration_path({ lang: params[:lang] }.compact_blank), class: 'btn btn-neutral btn-sm btn-outline' do %>
          <span class="flex items-center justify-center space-x-1">
            <span class="hidden sm:block"><%= t('create_free_account') %></span>
            <span class="md:hidden"><%= t('sign_up') %></span>
          </span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
