<div class="text-center px-2">
  <% if local_assigns[:with_counter] %>
    <% count = CompletedSubmitter.distinct.count(:submission_id) %>
    <% if count > 1 %>
      <%= t('count_documents_signed_with_html', count:) %>
    <% else %>
      <%= t('powered_by') %>
    <% end %>
  <% else %>
    <%= t('powered_by') %>
  <% end %>
  <a href="<%= Wabosign::PRODUCT_URL %><%= local_assigns[:link_path] %>" class="underline"><%= Wabosign.product_name %></a> - <%= t('open_source_documents_software') %>
</div>
<div class="text-center px-2 text-xs opacity-70 mt-1">
  <%= t('based_on') %>
  <a href="<%= Wabosign::UPSTREAM_URL %>" class="underline" target="_blank" rel="noopener"><%= Wabosign::UPSTREAM_NAME %></a>
  (AGPLv3)
</div>
