<% if Whitelabel.show_powered_by? %>
  <div class="text-center px-2">
    <% if local_assigns[:with_counter] %>
      <% count = CompletedSubmitter.distinct.count(:submission_id) %>
      <% if count > 1 %>
        <%= t('count_documents_signed_with_html', count:) %>
      <% else %>
        <%= t('powered_by') %>
      <% end %>
    <% else %>
      <%= t('powered_by') %>
    <% end %>
    <a href="<%= Whitelabel.website_url %><%= local_assigns[:link_path] %>" class="underline"><%= Whitelabel.powered_by_text %></a> - <%= t('open_source_documents_software') %>
  </div>
<% end %>
