<div class="block w-full md:w-52 flex-none">
  <menu-active>
    <ul class="menu px-0">
      <li class="menu-title py-0"><span>Settings</span></li>
      <li></li>
      <li>
        <%= link_to 'Profile', settings_profile_index_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <li>
        <%= link_to 'Account', settings_account_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <% unless Docuseal.multitenant? %>
        <li>
          <%= link_to 'Email', settings_email_index_path, class: 'text-base hover:bg-base-300' %>
        </li>
        <li>
          <%= link_to 'Storage', settings_storage_index_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <li>
        <%= link_to 'Signature', settings_esign_index_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <li>
        <%= link_to 'Team', settings_users_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <li>
        <%= link_to 'Console', console_redirect_index_path, class: 'text-base hover:bg-base-300' %>
      </li>
    </ul>
  </menu-active>
  <div class="mx-4 border-t border-base-300 hidden md:block">
    <div class="text-sm mt-3">
      Need help? Ask a question:
    </div>
    <div class="flex mt-3 space-x-3">
      <a href="<%= Docuseal::GITHUB_URL %>" target="_blank" class="btn btn-circle btn-primary btn-md">
        <%= svg_icon('brand_github', class: 'w-8 h-8') %>
      </a>
      <a href="<%= Docuseal::DISCORD_URL %>" target="_blank" class="btn btn-circle btn-primary btn-md">
        <%= svg_icon('brand_discord', class: 'w-8 h-8') %>
      </a>
      <a href="<%= Docuseal::TWITTER_URL %>" target="_blank" class="btn btn-circle btn-primary btn-md">
        <%= svg_icon('brand_twitter', class: 'w-8 h-8') %>
      </a>
    </div>
    <a href="https://twitter.com/intent/tweet?<%= { text: "Open source DocuSign alternative\n#{Docuseal::GITHUB_URL} #{Docuseal::TWITTER_HANDLE}" }.to_query %>" target="_blank" class="btn btn-neutral btn-outline w-full mt-5">
      <%= svg_icon('send', class: 'h-5 w-5') %>
      Tell about us
    </a>
    <a href="mailto:<%= Docuseal::SUPPORT_EMAIL %>" target="_blank" class="w-full block mt-4 underline text-center">
      <%= Docuseal::SUPPORT_EMAIL %>
    </a>
  </div>
</div>
