<menu-active class="block w-full md:w-52">
  <div class="-ml-3.5">
    <ul class="menu menu-compact px-2">
      <li class="menu-title"><span>Settings</span></li>
      <li></li>
      <li>
        <a href="<%= settings_profile_index_path %>" class="hover:bg-base-300">
          Profile
        </a>
      </li>
      <li>
        <a href="<%= settings_email_index_path %>" class="hover:bg-base-300">
          Email
        </a>
      </li>
      <li>
        <a href="<%= settings_storage_index_path %>" class="hover:bg-base-300">
          Storage
        </a>
      </li>
      <li>
        <a href="<%= settings_esign_index_path %>" class="hover:bg-base-300">
          eSign
        </a>
      </li>
      <li>
        <a href="<%= settings_users_path %>" class="hover:bg-base-300">
          Team
        </a>
      </li>
    </ul>
  </div>
</menu-active>
