<div class="block w-full md:w-52 flex-none">
  <menu-active>
    <ul id="account_settings_menu" class="menu px-0">
      <li class="menu-title py-0 !bg-transparent mb-3 -mt-5"><a href="<%= '/' %>" class="!bg-transparent !text-neutral font-medium flex items-center space-x-0.5"><%= svg_icon('arrow_left', class: 'w-4 h-4 stroke-2') %><span><%= t('back') %></span></a></li>
      <li class="menu-title py-0 !bg-transparent">
        <span class="!bg-transparent"><%= t('settings') %></span>
      </li>
      <li></li>
      <li>
        <%= link_to t('profile'), settings_profile_index_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <li>
        <%= link_to t('account'), settings_account_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <% unless Docuseal.multitenant? %>
        <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::EMAIL_SMTP_KEY, account: current_account)) && ENV['SMTP_ADDRESS'].blank? && true_user == current_user %>
          <li>
            <%= link_to t('email'), settings_email_index_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
        <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::FILES_STORAGE_KEY, account: current_account)) && true_user == current_user %>
          <li>
            <%= link_to t('storage'), settings_storage_index_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
      <% end %>
      <% if can?(:read, AccountConfig) %>
        <li>
          <%= link_to t('notifications'), settings_notifications_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::ESIGN_CERTS_KEY, account: current_account)) %>
        <li>
          <%= link_to t('e_signature'), settings_esign_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, AccountConfig) %>
        <li>
          <%= link_to t('personalization'), settings_personalization_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, User) %>
        <li>
          <%= link_to t('users'), settings_users_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <%= render 'shared/settings_nav_extra' %>
      <% if Docuseal.demo? || !Docuseal.multitenant? %>
        <% if can?(:read, AccessToken) %>
          <li>
            <%= link_to 'API', settings_api_index_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
      <% end %>
      <% if Docuseal.demo? || !Docuseal.multitenant? || (current_user != true_user && !current_account.testing?) %>
        <% if can?(:read, WebhookUrl) %>
          <li>
            <%= link_to 'Webhooks', settings_webhooks_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
      <% end %>
      <% if !Docuseal.demo? && can?(:manage, EncryptedConfig) && (current_user == true_user || current_account.testing?) %>
        <%= render 'shared/settings_nav_extra2' %>
        <% if (can?(:manage, EncryptedConfig) && current_user == true_user) || (current_user != true_user && current_account.testing?) %>
          <%= form_for '', url: testing_account_path, method: current_account.testing? ? :delete : :get, html: { class: 'w-full' } do |f| %>
            <li>
              <label class="flex items-center text-base hover:bg-base-300 w-full justify-between" for="testing_toggle">
                <span class="mr-2 w-full">
                  <%= t('test_mode') %>
                </span>
                <submit-form data-on="change" class="flex">
                  <%= f.check_box :testing_toggle, class: 'toggle toggle-sm', checked: current_account.testing? %>
                </submit-form>
              </label>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </menu-active>
</div>
