<menu-active class="block w-full md:w-52">
  <div class="-ml-6">
    <ul class="menu">
      <li class="menu-title py-0"><span>Settings</span></li>
      <li></li>
      <li>
        <%= link_to 'Profile', settings_profile_index_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <li>
        <%= link_to 'Email', settings_email_index_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <li>
        <%= link_to 'Storage', settings_storage_index_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <li>
        <%= link_to 'eSign', settings_esign_index_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <li>
        <%= link_to 'Team', settings_users_path, class: 'text-base hover:bg-base-300' %>
      </li>
    </ul>
  </div>
</menu-active>
