<div class="form-control">
  <div class="flex items-center">
    <%= ff.label :body, t('body'), class: 'label' %>
    <span class="tooltip" data-tip="<%= t('use_following_placeholders_text_') %> <%= AccountConfig::DEFAULT_VALUES[local_assigns[:config].key].call['body'].scan(/{.*?}/).join(', ') %>">
      <%= svg_icon('info_circle', class: 'w-4 h-4') %>
    </span>
  </div>
  <autoresize-textarea>
    <%= ff.text_area :body, required: true, class: 'base-input w-full !rounded-2xl py-2', dir: 'auto' %>
  </autoresize-textarea>
</div>
