<div class="flex flex-wrap space-y-4 md:flex-nowrap md:space-y-0">
  <%= render 'shared/settings_nav' %>
  <div class="flex-grow max-w-xl mx-auto">
    <h1 id="email-templates-heading" class="text-4xl font-bold mb-4">
      <%= t('email_templates') %>
    </h1>
    <section aria-labelledby="email-templates-heading" class="space-y-4">
      <%= render 'signature_request_email_form' %>
      <%= render 'documents_copy_email_form' %>
      <%= render 'submitter_completed_email_form' %>
    </section>
    <h2 id="company-logo-heading" class="text-4xl font-bold mb-4 mt-8">
      <%= t('company_logo') %>
    </h2>
    <section aria-labelledby="company-logo-heading" class="space-y-4">
      <%= render 'logo_form' %>
    </section>
    <h2 id="submission-form-heading" class="text-4xl font-bold mb-4 mt-8">
      <%= t('submission_form') %>
    </h2>
    <section aria-labelledby="submission-form-heading" class="space-y-4">
      <%= render 'form_completed_message_form' %>
      <%= render 'form_completed_button_form' %>
      <%= render 'form_policy_links_form' %>
    </section>
    <%= render 'form_customization_settings' %>
  </div>
  <div class="w-0 md:w-52"></div>
</div>
