<%= render 'templates/title', template: @template %>
<div>
  <%= link_to template_path(@template) do %>
    &larr;
    <span>Back to Active</span>
  <% end %>
</div>
<div class="flex justify-between mb-6 md:items-end flex-col md:flex-row">
  <p class="text-3xl font-bold">Submissions <span class="badge badge-outline badge-lg align-middle">Archived</span></p>
  <div class="flex space-x-2 mt-3 md:mt-0">
    <%= link_to new_template_submissions_export_path(@template), class: 'order-3 md:order-1 btn btn-ghost text-base', data: { turbo_frame: 'modal' } do %>
      <%= svg_icon('download', class: 'w-6 h-6 stroke-2') %>
      <span>Export</span>
    <% end %>
  </div>
</div>
<div class="space-y-4">
  <%= render partial: 'templates/submission', collection: @submissions %>
</div>
<%= render 'shared/pagination', pagy: @pagy, items_name: 'submissions' %>
