<section class="flex items-center justify-center">
  <div class="py-10 mx-auto max-w-7xl">
    <div class="max-w-xl mx-auto">
      <div class="text-center">
        <div class="relative flex flex-col items-center">
          <%= render 'shared/logo', width: '100', height: '100' %>
          <h1 class="text-6xl font-bold mt-4 mb-8">
            DocuSeal
          </h1>
        </div>
        <p class="mb-16 text-lg text-center text-gray-500">
          A self-hosted, web-based platform providing secure and efficient digital document signing and transaction management.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-12 md:gap-10 md:grid-cols-2">
      <div class="card bg-base-300">
        <div class="card-body">
          <div class="text-center transition-all">
            <div class="inline-block p-4 mb-6 -mt-16 bg-base-content rounded-full">
              <%= svg_icon('brand_docker', class: 'w-10 h-10 text-base-100') %>
            </div>
            <h3 class="mb-4 text-2xl font-semibold">Easy to Install</h3>
            <p class="text-base text-gray-500">
              Simply initiate the process on your platform, deploy the solution via <a href="https://hub.docker.com/r/docuseal/docuseal" class="link link-neutral font-bold" target="_blank">Docker</a>,
              or opt for its packaged version for ease of use.
            </p>
          </div>
        </div>
      </div>
      <div class="card bg-base-300">
        <div class="card-body">
          <div class="text-center transition-all">
            <div class="inline-block p-4 mb-6 -mt-16 bg-base-content rounded-full">
              <%= svg_icon('devices', class: 'w-10 h-10 text-base-100') %>
            </div>
            <h3 class="mb-4 text-2xl font-semibold">Mobile Optimized</h3>
            <p class="text-base text-gray-500">
              This self-hosted solution is mobile-ready, designed to offer a seamless user experience on any device.
              Manage documents with ease, right from your smartphone or tablet.
            </p>
          </div>
        </div>
      </div>
      <div class="card bg-base-300">
        <div class="card-body">
          <div class="text-center transition-all">
            <div class="inline-block p-4 mb-6 -mt-16 bg-base-content rounded-full">
              <%= svg_icon('shield_check', class: 'w-10 h-10 text-base-100') %>
            </div>
            <h3 class="mb-4 text-2xl font-semibold">Secure</h3>
            <p class="text-base text-gray-500">
              With a focus on security, this solution integrates top-level encryption within your own hosting infrastructure.
              Comprehensive tracking of every action assures a secure environment for all digital transactions.
            </p>
          </div>
        </div>
      </div>
      <div class="card bg-base-300">
        <div class="card-body">
          <div class="text-center transition-all">
            <div class="inline-block p-4 mb-6 -mt-16 bg-base-content rounded-full">
              <%= svg_icon('brand_github', class: 'w-10 h-10 text-base-100') %>
            </div>
            <h3 class="mb-4 text-2xl font-semibold">Open Source</h3>
            <p class="text-base text-gray-500">
              Don't hesitate to fetch <a href="https://github.com/docusealhq" class="link link-neutral font-bold" target="_blank">github.com/docusealhq</a>.
              We warmly invite you to participate and help us enhance this project.
              There's no need to shy away from becoming a contributor!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
