<section class="flex items-center justify-center">
  <div class="py-10 mx-auto max-w-7xl">
    <div class="max-w-xl mx-auto">
      <div class="text-center">
        <div class="relative flex flex-col items-center">
          <%= render 'shared/logo', width: '100', height: '100' %>
          <h1 class="text-6xl font-bold mt-4 mb-4">
            DocuSeal
          </h1>
          <% if Docuseal.version.present? %>
            <a href="https://github.com/docusealco/docuseal/releases" target="_blank" class="badge badge-outline badge-lg block mx-auto">
              v<%= Docuseal.version %>
            </a>
          <% end %>
        </div>
        <h2 class="mt-4 mb-16 text-lg text-center text-gray-600">
          A self-hosted and open-source web platform that provides secure and efficient digital document signing and processing.
        </h2>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-12 md:gap-10 md:grid-cols-2">
      <div class="card bg-base-200">
        <div class="card-body">
          <div class="text-center transition-all">
            <div class="inline-block p-4 mb-4 -mt-16 bg-base-content rounded-full">
              <%= svg_icon('brand_docker', class: 'w-10 h-10 text-base-100 stroke-1') %>
            </div>
            <h3 class="mb-4 text-2xl font-semibold">Easy to Start</h3>
            <p class="text-base text-gray-500">
              Run on your own host using Docker container, or deploy on  your favorite managed PaaS with a single <a href="https://www.docuseal.co/install" class="link link-neutral font-bold">click</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="card bg-base-200">
        <div class="card-body">
          <div class="text-center transition-all">
            <div class="inline-block p-4 mb-4 -mt-16 bg-base-content rounded-full">
              <%= svg_icon('devices', class: 'w-10 h-10 text-base-100') %>
            </div>
            <h3 class="mb-4 text-2xl font-semibold">Mobile Optimized</h3>
            <p class="text-base text-gray-500">
              Review and sign digital documents online from any device.
              Docuseal document forms are optimized for screens of all sizes.
            </p>
          </div>
        </div>
      </div>
      <div class="card bg-base-200">
        <div class="card-body">
          <div class="text-center transition-all">
            <div class="inline-block p-4 mb-4 -mt-16 bg-base-content rounded-full">
              <%= svg_icon('shield_check', class: 'w-10 h-10 text-base-100') %>
            </div>
            <h3 class="mb-4 text-2xl font-semibold">Secure</h3>
            <p class="text-base text-gray-500">
              Host it on your hardware under a VPN to ensure that important documents can be accesses only within your organization.
            </p>
          </div>
        </div>
      </div>
      <div class="card bg-base-200">
        <div class="card-body">
          <div class="text-center transition-all">
            <div class="inline-block p-4 mb-4 -mt-16 bg-base-content rounded-full">
              <%= svg_icon('brand_github', class: 'w-10 h-10 text-base-100') %>
            </div>
            <h3 class="mb-4 text-2xl font-semibold">Open Source</h3>
            <p class="text-base text-gray-500">
              Source code is available under <a href="<%= Docuseal::GITHUB_URL %>" class="link link-neutral font-bold" target="_blank">github.com/docusealco</a>.<br>
              Open-source contributors are always ready to help!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/attribution', with_counter: true %>
