<div class="form-control">
  <% is_smtp_configured = Accounts.can_send_emails?(current_account) %>
  <div class="flex justify-between">
    <%= f.label :send_email, for: uuid = SecureRandom.uuid, class: 'flex items-center cursor-pointer' do %>
      <%= f.check_box :send_email, id: uuid, class: 'base-checkbox', disabled: !is_smtp_configured, checked: is_smtp_configured %>
      <span class="label">Send emails</span>
    <% end %>
    <%= render 'email_stats' %>
  </div>
  <% unless is_smtp_configured %>
    <div class="alert my-4">
      <%= svg_icon('info_circle', class: 'w-6 h-6') %>
      <div>
        <p class="font-bold">SMTP not Configured</p>
        <p class="text-gray-700">
          Configure SMTP settings in order to send emails:
          <br>
          <a class="link font-medium" data-turbo-frame="_top" href="<%= settings_email_index_path %>">Go to SMTP settings</a>
        </p>
      </div>
    </div>
  <% end %>
</div>
