<div class="form-control">
  <% is_smtp_configured = Accounts.can_send_emails?(current_account) %>
  <%= f.label :send_email, for: uuid = SecureRandom.uuid, class: 'flex items-center cursor-pointer' do %>
    <%= f.check_box :send_email, id: uuid, class: 'base-checkbox', disabled: !is_smtp_configured, onchange: "window.message_field && message_field.classList.toggle('hidden', !event.currentTarget.checked)" %>
    <span class="label">Send Email</span>
  <% end %>
  <% unless is_smtp_configured %>
    <div class="alert my-4">
      <%= svg_icon('info_circle', class: 'w-6 h-6') %>
      <div>
        <p class="font-bold">SMTP not Configured</p>
        <p class="text-gray-700">
          Configure SMTP settings in order to send emails:
          <br>
          <a class="link font-medium" data-turbo-frame="_top" href="<%= settings_email_index_path %>">Go to SMTP settings</a>
        </p>
      </div>
    </div>
  <% end %>
</div>
<% unless AccountConfig.exists?(key: AccountConfig::SUBMITTER_INVITATION_EMAIL_KEY) %>
  <div id="message_field" class="card card-compact bg-base-200 hidden">
    <div class="card-body">
      <div class="form-control space-y-2">
        <span class="label-text">Hi there,</span>
        <autoresize-textarea>
          <%= f.text_area :message, value: format(SubmitterMailer::DEFAULT_MESSAGE, name: template.name), required: true, class: 'base-textarea !rounded-lg w-full' %>
        </autoresize-textarea>
        <span class="label-text">
          Thanks,
          <br>
          <%= current_account.name %>
        </span>
      </div>
    </div>
  </div>
<% end %>
