<%= render 'shared/turbo_modal', title: params[:selfsign] ? t('submissions_add_recipient') : t('submissions_add_recipients') do %>
  <% options = [['via Email', 'email']].compact %>
  <toggle-visible data-element-ids="<%= options.map(&:last).to_json %>" class="relative text-center mt-4 block">
    <div class="join">
      <% options.each_with_index do |(label, value), index| %>
        <span>
          <%= radio_button_tag 'option', value, value == 'email', class: 'peer hidden', data: { action: 'change:toggle-visible#trigger' } %>
          <label for="option_<%= value %>" class=" btn btn-focus btn-sm  md:w-28 peer-checked:btn-active normal-case">
            <%= label %>
          </label>
        </span>
      <% end %>
    </div>
  </toggle-visible>
  <div class="mt-4">
    <div id="email">
      <%= render 'email_form', template: @template %>
    </div>

  </div>
  <%= content_for(:modal_extra) %>
<% end %>
