<%= render 'shared/turbo_modal', title: 'New Recepients' do %>
  <%= form_for '', url: template_submissions_path(@template), html: { class: 'space-y-4' }, data: { turbo_frame: :_top } do |f| %>
    <% if @template.submitters.size == 1 %>
      <div class="form-control">
        <%= f.label :emails, class: 'label' %>
        <%= f.text_area :emails, required: true, class: 'base-textarea' %>
      </div>
    <% else %>
      <dynamic-list class="space-y-4">
        <div class="space-y-4">
          <div class="card card-compact bg-base-200" data-targets="dynamic-list.items">
            <div class="card-body">
              <div class="absolute right-4 top-5">
                <a href="#" data-action="click:dynamic-list#removeItem" class="block w-6 h-6 rounded-lg text-neutral-700 text-center bg-base-300 p-1 hidden hover:bg-neutral hover:text-white">
                  <%= svg_icon('trash', class: 'w-4 h-4') %>
                </a>
              </div>
              <div class="grid md:grid-cols-2 gap-4">
                <% @template.submitters.each do |item| %>
                  <div class="form-control">
                    <label class="label">
                      <span class="label-text"> <%= item['name'] %></span>
                    </label>
                    <input type="hidden" name="submission[1][submitters][][uuid]" value="<%= item['uuid'] %>" >
                    <input type="email" name="submission[1][submitters][][email]" value="<%= item['email'] %>" class="input input-sm input-bordered" placeholder="Email" required>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-primary btn-sm w-full flex items-center justify-center" data-action="click:dynamic-list#addItem">
          <%= svg_icon('user_plus', class: 'w-4 h-4') %>
          <span>Add Recipient</span>
        </a>
      </dynamic-list>
    <% end %>
    <div class="form-control">
      <%= f.label :send_email, class: 'flex items-center cursor-pointer' do %>
        <%= f.check_box :send_email, class: 'base-checkbox', onchange: "message_field.classList.toggle('hidden', !event.currentTarget.checked)"  %>
        <span class="label">Send Email</span>
      <% end %>
    </div>
    <div id="message_field" class="card card-compact bg-base-200 hidden">
      <div class="card-body">
        <div class="form-control space-y-2">
          <span class="label-text">Hi there,</span>
          <%= f.text_area :message, value: SubmitterMailer::DEFAULT_MESSAGE, required: true, class: 'base-textarea !rounded-lg' %>
          <span class="label-text">
            Thanks,
          </br>
          <%= current_account.name %>
        </div>
      </div>
    </div>
    <div class="form-control">
      <%= f.button button_title(title: 'Confirm', disabled_with: 'Processing'), class: 'base-button' %>
    </div>
  <% end %>
<% end %>
