<% is_show_tabs = @pagy.count >= 5 || params[:status].present? %>
<% if Docuseal.demo? %><%= render 'shared/demo_alert' %><% end %>
<div class="flex justify-between mb-4 items-center">
  <div class="flex items-center">
    <div class="mr-2">
      <%= render 'dashboard/toggle_view', selected: 'submissions' %>
    </div>
    <h1 class="text-3xl sm:text-4xl font-bold">Submissions</h1>
  </div>
  <div class="flex space-x-2">
    <% if params[:q].present? || @pagy.pages > 1 %>
      <%= render 'shared/search_input' %>
    <% end %>
    <% if can?(:create, ::Template) %>
      <span class="hidden sm:block">
        <%= render 'templates/upload_button' %>
      </span>
      <%= link_to new_template_path, class: 'white-button !border gap-2', data: { turbo_frame: :modal } do %>
        <%= svg_icon('plus', class: 'w-6 h-6 stroke-2') %>
        <span class="hidden md:block">Create</span>
      <% end %>
    <% end %>
  </div>
</div>
<% view_archived_html = capture do %>
  <% if current_account.submissions.where.not(archived_at: nil).exists? %>
    <div>
      <a href="<%= submissions_archived_index_path %>" class="link text-sm">View Archived</a>
    </div>
  <% end %>
<% end %>
<% if is_show_tabs %>
  <div class="flex items-center md:items-end flex-col space-y-2 md:space-y-0 md:flex-row md:space-x-2 mb-4">
    <a href="<%= url_for(params.to_unsafe_h.except(:status)) %>" class="<%= params[:status].blank? ? 'border-neutral-700' : 'border-neutral-300' %> flex h-10 px-2 py-1 text-lg items-center justify-between border text-center text-neutral font-semibold rounded-xl w-full md:w-48 hover:border-neutral-600">
      <div class="flex items-center space-x-1">
        <%= svg_icon('list', class: 'w-5 h-5') %>
        <span class="font-normal">All</span>
      </div>
    </a>
    <a href="<%= url_for(params.to_unsafe_h.merge(status: :pending)) %>" class="<%= params[:status] == 'pending' ? 'border-neutral-700' : 'border-neutral-300' %> flex h-10 px-2 py-1 text-lg items-center justify-between border text-center text-neutral font-semibold rounded-xl w-full md:w-48 hover:border-neutral-600">
      <div class="flex items-center space-x-1">
        <%= svg_icon('clock', class: 'w-5 h-5') %>
        <span class="font-normal">Pending</span>
      </div>
    </a>
    <a href="<%= url_for(params.to_unsafe_h.merge(status: :completed)) %>" class="<%= params[:status] == 'completed' ? 'border-neutral-700' : 'border-neutral-300' %> flex h-10 px-2 py-1 text-lg items-center justify-between border text-center text-neutral font-semibold rounded-xl w-full md:w-48 hover:border-neutral-600">
      <div class="flex items-center space-x-1">
        <%= svg_icon('circle_check', class: 'w-5 h-5') %>
        <span class="font-normal">Completed</span>
      </div>
    </a>
  </div>
<% end %>
<% if @pagy.count > 0 %>
  <div class="space-y-4">
    <%= render partial: 'templates/submission', collection: @submissions, locals: { with_template: true } %>
  </div>
<% end %>
<% if params[:q].blank? && params[:status].blank? && @pagy.count < 5 %>
  <%= render 'templates/dropzone' %>
<% end %>
<% if @submissions.present? || params[:q].blank? %>
  <% if @pagy.pages > 1 %>
    <%= render 'shared/pagination', pagy: @pagy, items_name: 'submissions', left_additional_html: view_archived_html %>
  <% else %>
    <div class="mt-2">
      <%= view_archived_html %>
    </div>
  <% end %>
<% elsif params[:q].present? %>
  <div class="text-center">
    <div class="mt-16 text-3xl font-semibold">
      Submissions not Found
    </div>
  </div>
<% end %>
