<%= content_for(:canonical_url, new_user_session_url) %>
<% content_for(:hide_navbar, true) %>
<% content_for(:full_width, true) %>
<section class="relative min-h-screen overflow-hidden bg-white -mx-[50vw] left-[50%] right-[50%] w-screen">
  <div class="absolute inset-x-0 top-0 z-0 h-[40vh]"
       style="background-image: url('/images/login-top-bg.svg'); background-size: cover; background-repeat: no-repeat; background-position: center top;">
  </div>
  <div class="relative z-10 flex min-h-screen items-center justify-center pb-[20vh]">
    <div class="w-full max-w-sm bg-white p-5 text-slate-900 rounded-lg border border-gray-200 shadow-md">
      <div class="mb-4 flex flex-col gap-2">
        <h3 class="text-xl font-semibold leading-none tracking-tight">Welcome home, arcaber.</h3>
        <p class="text-sm font-normal text-slate-500">
          By continuing, you accept
          <span class="cursor-pointer underline">arcab Data, Privacy and Safety policies</span> for all
          <span class="cursor-pointer underline">arcab Products and Services.</span>
        </p>
      </div>
      <%= render 'devise/shared/select_server' if Docuseal.multitenant? %>
      <%= form_for(resource, as: resource_name, html: { class: 'space-y-4' }, data: { turbo: params[:redir].blank? }, url: session_path(resource_name)) do |f| %>
        <%= render 'hidden_fields' %>
        <div class="space-y-2" dir="auto">
          <div class="form-control">
            <%= f.label :email, t(:email), class: 'label' %>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'base-input' %>
          </div>
          <div class="form-control">
            <%= f.label :password, t(:password), class: 'label' %>
            <%= f.password_field :password, autocomplete: 'current-password', class: 'base-input' %>
          </div>
        </div>
        <div class="form-control">
          <%= f.button button_title(title: t(:sign_in), disabled_with: t(:signing_in)), class: 'base-button' %>
        </div>
      <% end %>
      <%= render 'omniauthable' %>
      <%= render 'extra_links' %>
      <%= render 'devise/shared/links' %>
    </div>
  </div>
  <div class="fixed bottom-24 left-1/2 z-10 flex -translate-x-1/2 items-center justify-center">
    <img src="/images/login-floating-logo.svg" alt="arcab logo" width="120" height="120" />
  </div>
</section>
