<div class="max-w-lg mx-auto px-2">
  <h1 class="text-4xl font-bold text-center mt-8">Sign In</h1>
  <%= form_for(resource, as: resource_name, html: { class: 'space-y-6' }, data: { turbo: params[:redir].blank? }, url: session_path(resource_name)) do |f| %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :password %>
    <% if params[:redir].present? %>
      <%= hidden_field_tag :redir, params[:redir] %>
    <% end %>
    <div class="space-y-2">
      <div class="form-control">
        <%= f.label :otp_attempt, 'Two-Factor Code from Authenticator App', class: 'label' %>
        <%= f.text_field :otp_attempt, autofocus: true, placeholder: 'XXX-XXX', required: true, class: 'base-input' %>
      </div>
    </div>
    <div class="form-control">
      <%= f.button button_title(title: 'Sign In', disabled_with: 'Signing In'), class: 'base-button' %>
    </div>
  <% end %>
</div>
