<div class="max-w-xl mx-auto px-2">
  <h1 class="text-4xl font-bold text-center my-8">Initial Setup 👋</h1>
  <%= form_for '', url: setup_index_path do |f| %>
    <%= f.fields_for @user do |ff| %>
      <div class="flex space-x-4">
        <div class="form-control w-1/2">
          <%= ff.label :first_name, class: 'label' %>
          <%= ff.text_field :first_name, required: true, class: 'base-input' %>
        </div>
        <div class="form-control w-1/2">
          <%= ff.label :last_name, class: 'label' %>
          <%= ff.text_field :last_name, required: true, class: 'base-input' %>
        </div>
      </div>
    <% end %>
    <%= f.fields_for @account do |ff| %>
      <div class="form-control mt-2">
        <%= ff.label :name, 'Company name', class: 'label' %>
        <%= ff.text_field :name, required: true, class: 'base-input' %>
      </div>
    <% end %>
    <%= f.fields_for @user do |ff| %>
      <div class="form-control mt-2">
        <%= ff.label :email, class: 'label' %>
        <%= ff.email_field :email, required: true, class: 'base-input' %>
      </div>
      <div class="form-control mt-2">
        <%= ff.label :password, class: 'label' %>
        <%= ff.password_field :password, required: true, placeholder: '************', class: 'base-input' %>
      </div>
    <% end %>
    <div class="form-control mt-8">
      <%= f.button button_title, class: 'base-button' %>
    </div>
  <% end %>
</div>
