<div class="max-w-6xl mx-auto">
  <div class="flex">
    <%= render 'shared/settings_nav' %>
    <div class="mt-4 w-full">
      <div class="max-w-xl mx-auto">
        <h1 class="text-4xl font-bold mb-4">Storage</h1>
        <p class="mb-4">
          Select files torage option (TODO)
        </p>
        <% value = @encrypted_config.value || { 'service' => 'disk' } %>
        <% configs = value['configs'] || {} %>
        <%= form_for @encrypted_config, url: settings_storage_index_path, method: :post, html: { autocomplete: 'off', class: 'w-full' } do |f| %>
          <% options = [['Disk', 'disk'], ['AWS S3', 'aws_s3'], ['Google Cloud', 'google']] %>
          <toggle-visible data-element-ids="<%= options.map(&:last).to_json %>" class="block relative">
            <div class="flex space-x-2 relative">
              <% [['Disk', 'disk'], ['AWS S3', 'aws_s3'], ['Google Cloud', 'google']].each do |(label, val)| %>
                <%= f.label :selected, value: val, class: 'w-full flex flex-1 items-center space-x-2 btn btn-outline rounded-xl' do %>
                  <%= f.radio_button :selected, val, checked: value['service'] == val, data: { action: 'change:toggle-visible#trigger' }, class: 'base-radio' %>
                  <span><%= label %></span>
                <% end %>
              <% end %>
            </div>
          </toggle-visible>
          <disable-hidden id="disk" class="<%= 'hidden' if value['service'] != 'disk' %>">
            <%= f.fields_for :value do |ff| %>
              <%= ff.hidden_field :service, value: 'disk' %>
            <% end %>
            <div class="text-center max-w-xl mx-auto my-8 text-xl font-medium leading-9">
              Store all files on disk
              <br>
              No configs are needed but make sure your disk is persistent
              <br>
              (not suitable for Heroku and other PaaS)
            </div>
          </disable-hidden>
          <disable-hidden id="aws_s3" class="<%= 'hidden' if value['service'] != 'aws_s3' %>">
            <%= f.fields_for :value do |ff| %>
              <%= ff.hidden_field :service, value: 'aws_s3' %>
              <%= ff.fields_for :configs, configs do |fff| %>
                <div>
                  <%= fff.label :access_key_id, 'Access key ID' %>
                  <%= fff.text_field :access_key_id, value: configs['access_key_id'], required: true %>
                </div>
                <div>
                  <%= fff.label :secret_access_key %>
                  <%= fff.password_field :secret_access_key, value: configs['secret_access_key'], required: true %>
                </div>
                <div>
                  <%= fff.label :region %>
                  <%= fff.text_field :region, value: configs['region'], required: true %>
                </div>
                <div>
                  <%= fff.label :bucket %>
                  <%= fff.text_field :bucket, value: value['service'] == 'aws_s3' ? configs['bucket'] : '', required: true %>
                </div>
                <div>
                  <%= fff.label :endpoint %>
                  <%= fff.text_field :endpoint, value: configs['endpoint'], type: :url %>
                  <small>
                    For AWS S3 compantiable APIs like Minio.
                  </small>
                </div>
              <% end %>
            <% end %>
          </disable-hidden>
          <disable-hidden id="google" class="<%= 'hidden' if value['service'] != 'google' %>">
            <%= f.fields_for :value do |ff| %>
              <%= ff.hidden_field :service, value: 'google' %>
              <%= ff.fields_for :configs, configs do |fff| %>
                <div>
                  <%= fff.label :project, 'Project' %>
                  <%= fff.text_field :project, value: configs['project'], required: true %>
                </div>
                <div>
                  <%= fff.label :bucket %>
                  <%= fff.text_field :bucket, value: value['service'] == 'google' ? configs['bucket'] : '', required: true %>
                </div>
                <div>
                  <%= fff.label :credentials, 'Credentials (JSON key content)' %>
                  <%= fff.text_area :credentials, value: configs['credentials'], required: true %>
                </div>
              <% end %>
            <% end %>
          </disable-hidden>
          <div class="form-control">
            <%= f.button button_title('OK'), class: 'base-button' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="px-2 w-52 flex-none"></div>
  </div>
</div>
