<div class="flex flex-wrap space-y-4 md:flex-nowrap md:space-y-0">
  <%= render 'shared/settings_nav' %>
  <div class="flex-grow max-w-xl mx-auto">
    <h1 class="text-4xl font-bold mb-4">Profile</h1>
    <%= render 'navigation' %>
    <%= form_for current_user, url: update_password_settings_profile_index_path, method: :patch, html: { autocomplete: 'off', class: 'space-y-4' } do |f| %>
      <div class="form-control">
        <%= f.label :current_password, 'Current password', class: 'label' %>
        <%= f.password_field :current_password, autocomplete: 'off', class: 'base-input' %>
      </div>
      <div class="form-control">
        <%= f.label :password, 'New password', class: 'label' %>
        <%= f.password_field :password, autocomplete: 'off', class: 'base-input' %>
      </div>
      <div class="form-control">
        <%= f.label :password_confirmation, 'Confirm new password', class: 'label' %>
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'base-input' %>
      </div>
      <div class="form-control mt-8">
        <%= f.button button_title, class: 'base-button' %>
      </div>
    <% end %>
  </div>
  <div class="w-0 md:w-52"></div>
</div>
