<!DOCTYPE html>
<html data-theme="docuseal">
  <head>
    <title>
      DocuSeal | Open Source Document Filling and Signing
    </title>
    <%= render 'shared/meta' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', defer: true %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= render 'shared/posthog' if ENV['POSTHOG_TOKEN'] %>
  </head>
  <body>
    <turbo-frame id="modal"></turbo-frame>
    <%= render 'shared/navbar' %>
    <% if Docuseal.demo? %><%= render 'shared/demo_alert' %><% end %>
    <% if flash.present? %><%= render 'shared/flash' %><% end %>
    <div class="max-w-6xl mx-auto px-4 md:px-2 mb-8">
      <%= yield %>
    </div>
  </body>
</html>
