<!DOCTYPE html>
<html data-theme="docuseal" lang="<%= I18n.locale %>">
  <head>
    <%= render 'layouts/head_tags' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if ENV['ROLLBAR_CLIENT_TOKEN'] %>
      <meta name="rollbar-token" content="<%= ENV.fetch('ROLLBAR_CLIENT_TOKEN', nil) %>">
      <%= javascript_pack_tag 'rollbar', 'application', defer: true %>
    <% else %>
      <%= javascript_pack_tag 'application', defer: true %>
    <% end %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= render 'shared/posthog' if ENV['POSTHOG_TOKEN'] %>
    <%= render 'shared/plausible' if !signed_in? && ENV['PLAUSIBLE_DOMAIN'] %>
  </head>
  <body>
    <turbo-frame id="modal"></turbo-frame>
    <turbo-frame id="drawer"></turbo-frame>
    <%= render 'shared/navbar' %>
    <% if flash.present? %><%= render 'shared/flash' %><% end %>
    <div class="max-w-6xl mx-auto px-4 md:px-2 mb-8">
      <%= yield %>
    </div>
  </body>
</html>
