<!DOCTYPE html>
<html data-theme="docuseal" class="h-full">
  <head>
    <title>
      Docuseal
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_pack_tag 'application', defer: true %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= yield :head %>
  </head>
  <body class="h-full">
    <turbo-frame id="modal"></turbo-frame>
    <%= render 'shared/navbar' %>
    <% if flash.present? %>
      <div id="flash" class="absolute top-0 w-full">
        <div class="max-w-xl mx-auto mt-1.5">
          <div class="alert shadow-lg py-3">
            <div class="flex w-full justify-between">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
              <span class="w-full"><%= flash[:notice] || flash[:alert] %></span>
              <a href="#" onclick="[event.preventDefault(), window.flash.remove()]">&times;</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
