<!DOCTYPE html>
<html data-theme="docuseal" lang="<%= I18n.locale %>">
  <head>
    <%= render 'layouts/head_tags' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if ENV['ROLLBAR_CLIENT_TOKEN'] %>
      <meta name="rollbar-token" content="<%= ENV.fetch('ROLLBAR_CLIENT_TOKEN', nil) %>">
      <%= javascript_pack_tag 'rollbar', 'form', defer: true %>
    <% else %>
      <%= javascript_pack_tag 'form', defer: true %>
    <% end %>
    <%= stylesheet_pack_tag 'form', media: 'all' %>
    <%= render 'shared/posthog' if ENV['POSTHOG_TOKEN'] %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
