<html data-theme="docuseal">
  <head>
    <title>
      Docuseal
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_pack_tag 'application', defer: true %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <% if flash.present? %><% render 'shared/flash' %><% end %>
    <%= yield %>
  </body>
</html>
