<!DOCTYPE html>
<html data-theme="docuseal" lang="<%= I18n.locale %>">
  <head>
    <%= render 'layouts/head_tags' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <% if ENV['ROLLBAR_CLIENT_TOKEN'] %>
      <meta name="rollbar-token" content="<%= ENV.fetch('ROLLBAR_CLIENT_TOKEN', nil) %>">
      <%= javascript_pack_tag 'rollbar', 'application', defer: true %>
    <% else %>
      <%= javascript_pack_tag 'application', defer: true %>
    <% end %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <a href="#tab-pdf" class="absolute left-0 top-0 -translate-y-full focus:translate-y-0 z-50 p-4 bg-base-100 text-base-content border-2 border-neutral" tabindex="0">
      Skip to main content
    </a>
    <% if flash.present? %><%= render 'shared/flash' %><% end %>
    <%= yield %>
    <turbo-frame id="modal"></turbo-frame>
  </body>
</html>
